{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="policy">
    <h1 class="mb-4">Privacy Policy</h1>
    <p>FlightBooking is committed to protecting your privacy. This Privacy Policy describes how we collect, use, disclose, and safeguard your information when you visit our website [www.flightbooking.com].Please read this privacy policy carefully.</p>
    <h2>1. Information We Collect</h2>
    <p>We may collect information about you in a variety of ways. The information we may collect on the Site includes:</p>
    <ul>
        <li><strong>Personal Data:</strong>
            <ul>
                <li>Name</li>
                <li>Surname</li>
                <li>Email address</li>
                <li>Number of ID</li>
            </ul>
        </li>
    </ul>

    <h2>2. Use of Information</h2>
    <p>We may use the information collected in the following ways:</p>
    <ul>
        <li>To personalize user experience</li>
        <li>To improve our Site</li>
        <li>To respond to inquiries and offer support</li>
    </ul>

    <h2>3. Disclosure of Information</h2>
    <p>We may share your information with third parties only in the ways that are described in this privacy policy. Your information may be disclosed as follows:</p>
    <ul>
        <li><strong>By Law or to Protect Rights:</strong> If we believe the release of information is necessary to respond to legal process, enforce our policies, or protect ours or others' rights, property, or safety.</li>
        <li><strong>Third-Party Service Providers:</strong> We may share your information with third parties that perform services for us or on our behalf,data analysis, hosting services, customer service, and marketing assistance.</li>
    </ul>

    <h2>4. Security of Information</h2>
    <p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable.</p>

    <h2>5.Your Choices and Rights</h2>
    <ul>
        <li><strong>Access:</strong> You can access and update your personal information by contacting us directly.</li>
    </ul>

    <h2>6. Changes to This Privacy Policy</h2>
    <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>
    
    <p><b>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</b></p>
    <p>This Privacy Policy was last updated on 27.06.2024.</p>
</div>
</div>
{% endblock %}